* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    /* text-align: center; */
}

h1 {
    text-align: center;
}

#containerGrid {
    display: grid;
    gap: 10px 15px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 250px 2fr 1fr;
}

label {
    justify-self: stretch;
}

#lblNom{
    grid-column: 1/span 4;
    grid-row: 1/2;
}

#lblApe{
    grid-column: 5/span 4;
    grid-row: 1/2;
}

#lblTel{
    grid-column: 9/span 4;
    grid-row: 1/2;
}

#lblLav{
    grid-column: 1/2;
    grid-row: 2/3;
}

#lblCor{
    grid-column: 2/4;
    grid-row: 2/3;
}

#lblTen{
    grid-column: 4/5;
    grid-row: 2/3;
}

#tableCon{
    grid-column: 1/13;
    grid-row: 2/3;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: black solid 1px;
    /* text-align: center; */
}

tbody tr td input{
    display: block;
    margin: 10px auto;
    /* height: 150px; */
}

tbody tr td img{
    width: 100px;
    height: 100px;
    display: block;
    margin: 10px auto;
    object-fit: cover;
    object-position: top;
}
tr, th, td {
border: black solid 1px;
}
/* #tableCon{
    background-color: crimson;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 50px 2fr 1fr;
    grid-row: 2/3;
    grid-column: 1/8;
} */

/* .tit span{
    color: white; 
    font-weight: 600;
    font-size: 13px;
}

.tit{
    text-align: center;
    place-self: center;

}

#lblMan{
    grid-column: 5/8;
    grid-row: 2/3;
} */



input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 15px 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

label>span {
    color: crimson;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

/* div#container{
    width: 100px;
    height: 42px;
    padding: 8px 15px;
    margin: 20px auto;
    border: crimson solid 2px;
    } */

.btn {
    grid-column: 3/6;
    grid-row: 4/5;
    width: 75%;
    height: 50%;
    border: crimson solid 2px;
    background-color: crimson;
    color: white;
    cursor: pointer;
    place-self: center;
}

.btn2 {
    padding: 5px 15px;
    border: crimson solid 2px;
    background-color: crimson;
    color: white;
    cursor: pointer;
    place-self: center;
}

.btn:hover, .btn2:hover  {
    background-color: white;
    color: crimson;
}

#res {
    margin: 12px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
}