*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden, .hiddenT{
    display: none;
}

body{
    background: url(../img/leaves-5825458_1280.jpg);
    background-size: 10%;
}

main{
    background-color: wheat;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    
}

form{
    width: 100%;
    background-color: rgb(220,20,60);
    border-radius: 5px;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "nombre"
                         "inputNombre"
                         "Telf"
                         "inputTelf"
                         "cursos"
                         "cursosSelect"
                         "email"
                         "inputEmail"
                         "textarea"
                         "inputTa"
                         "select"
                         "submit";
    gap: .5rem;
}

.name{
    grid-area: nombre;
}

.inputNombre{
    grid-area: inputNombre;
}
.telf{
    grid-area: telf;
}
.inputTelf{
    grid-area: inputTelf;
}
.email{
    grid-area: email;
}
.inputEmail{
    grid-area: inputEmail;
}
.ta{
    grid-area: textarea;
}
.inputTextarea{
    grid-area: inputTa;
    padding: .3rem;
}
.select{
    grid-area: select;
}
.submit{
    grid-area: submit;
}
.cursos{
    grid-area: cursos;
}
.cursos-select{
    grid-area: cursosSelect;
}