*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    /* text-align: center; */
}

label>span {
    color: crimson;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
}

input[type="number"]{
    width: 100%;
    padding: 8px 15px;
    margin-bottom: 15px;
    border: #333 solid 2px;
}

div#container{
    width: 100px;
    height: 42px;
    padding: 8px 15px;
    border: #333 solid 2px;
    margin-bottom: 15px;
}

.btn{
    padding: 8px 15px;
    border: crimson solid 2px;
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: crimson;
}