/* Reseteo de margenes, padding y tamano images */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/803938-flower-wallpaper.jpg) no-repeat fixed;
    background-size: cover;
    font-size: 16px;
    font-family: "Alegreya Sans", sans-serif;
    letter-spacing: 0.03em;
}

header,
section,
footer {
    width: 1100px;
    border: 7px solid transparent;
    background-color: rgba(0, 0, 0, 0.7);
}

header {
    height: 90px;
    margin: 30px auto 0;
    text-align: center;
    font-family: Pacifico, cursive;
    font-size: 1.6em;
    color: white;
    font-weight: 100;
}

section {
    height: 1050px;
    margin: 20px auto;
}

footer {
    height: 20px;
    margin: 0 auto 20px;
    color: #CCC;
    font-size: 0.8em;
    text-align: right;
    padding: 10px;
}

figure {
    width: 50%;
    height: 950px;
    background-color: white;
    float: left;
    padding-top: 100px;
    text-align: center;
}

figure h2 {
    font-size: 1.8em;
    padding-top: 30px;
}

figure img#flores {
    width: 440px;
    height: 440px;
}

form {
    width: 50%;
    height: 1050px;
    color: white;
    float: left;
}

form p {
    font-size: 0.8em;
}

fieldset {
    margin: 10px 10px 0;
    padding: 5px 10px 10px;
}

legend {
    font-size: 1.4em;
    font-family: Pacifico, cursive;
    color: white;
}

.uno div {
    width: 140px;
}

/* Se utilizo FLEX y la propiedad FLEX WRAP para poder dar movilidad a los elementos radios, para que puedan acomodarse correctamente al llegar al limite de su contenedor*/
.uno {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 60px;
}

/* Se utiliza FLEX para que se coloquen en linea y la propiedad de SPACE-AROUND con los elementos dentro de la clase DOS para que se distribuyan en esa linea dejando un espacion entre elementos y margenes */
.dos {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}

#datos label,
#entrega label {
    display: block;
    margin-top: 8px;
}

#datos div label {
    width: 35%;
}

/* Empleamos FLEX para que los elementos del DIV se coloquen en linea en el espacio que ocupan */
#datos div {
    display: flex;
}

span {
    color: red;
    font-weight: 600;
}

.fin input {
    margin-left: 20px;
}

/* Se utilizo FLEX  para que los elementos se coloquenb en linea y la propiedad FLEX WRAP para acomodar los elementos unos a lado del otro sin pasarr el limite del contenedor*/
#entrega div {
    display: flex;
    height: 160px;
    width: 95%;
    flex-wrap: wrap;
}

#entrega div input,
#entrega div select {
    display: block;
}

#entrega div label {
    margin-right: 25px;
}

.botones {
    width: 150px;
    margin: 20px auto;
}

.botones input {
    padding: 3px 10px;
    margin: 0 5px;
}