* {
	margin: 0;
	padding: 0;
}

body {
	background: rgb(204, 204, 204);
	background: #CCC;
	font-family: 'Roboto', sans-serif;
}

h1,
h2 {
	font-family: 'Quicksand', sans-serif;
}

#contenedor {
	width: 80%;
	max-width: 1300px;
	margin: 0 auto;
	background: rgb(255, 255, 255);
	background: #fff;
	min-height: 100%;
}

header {
	width: 100%;
	position: relative;
	margin: auto;
	height: auto;
	background: #CCC;
}

nav {
	text-align: center;
	border-bottom: 0.1em solid #ccc;
	width: 100%;
	background: #CCC;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
	padding: 0.6em 0;
}

footer {
	position: relative;
	height: auto;
	clear: both;
	width: 100%;
	margin: 0 auto;
	font-size: 0.75em;
	background-color: rgba(51, 51, 51, 1);
	color: white;
	text-align: center;
	padding: 0.6em 0;
}

ul li:hover {
	background-color: rgba(255, 255, 255, 0.8);
	color: #fff;
}

nav ul li a {
	opacity: 1;
	text-decoration: none;
	color: black;
	margin-top: .5em;
	margin-right: 0;
}

nav ul {
	margin-top: 0.5em;
}

nav ul li {
	padding: 0.5em 1.3em;
	display: inline;
}

ul li ul li {
	backgound-color: rgba(255, 160, 0, 1);
	display: block;
	color: #fff;
}

ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}



/*   CONTENIDO -> PUBLICIDAD  */

.publicidad {
	background: url(../images/banner.png) no-repeat center;
	background-size: cover;
	width: 90%;
	height: 6.25em;
	margin: 1em auto;
}


/*   CONTENIDO -> SECCIONES */
.contenido {
	width: 70%;
	padding: 2em;
	float: left;
	box-sizing: border-box;
}

.artip {
	margin: 1em;
	width: 45%;
	background: rgb(0, 0, 0);
	background: #000;
	border: 1px solid rgb(0, 0, 0);
	border: 1px solid #000;
	color: rgb(255, 255, 255);
	color: #fff;
	float: left;
	box-sizing: border-box;
}

.artis {
	width: 95%;
	max-width: 1200px;
	clear: both;
	padding: 1em;
	background: rgb(243, 243, 243);
	background: #f3f3f3;
	margin-bottom: 2em;
}

.artist {
	margin: 1.5em;
}

h1.section {
	font-size: 1.5em;
	text-align: left;
}

.artip p {
	margin: 1em;
}

p {
	margin: 0.4em;
	text-align: justify;
	font-size: 0.8em;
}

span {
	font-weight: normal;
	font-size: .6em;
	background: #333;
	margin-right: .5em;
	padding: .3em;
}

/*===== IMAGENES ====*/
.img {
	background-size: cover;
	width: 100%;
	min-width: 100px;
	height: 6.25em;
	/*100px*/
}

.imgse {
	height: 6.25em;
	width: 6.25em;
	float: left;
	margin: 1em;
}

/*  IMAGENES MANUALIDADES   */
.mprimer {
	background: url(../images/medium/globos.jpg) no-repeat center;
}

.msegun {
	background: url(../images/medium/buhos.jpg) no-repeat center;
}

.muno {
	background: url(../images/small/bol.jpg) no-repeat center;
}

.mdos {
	background: url(../images/small/marca.jpg) no-repeat center;
}

.mtres {
	background: url(../images/small/flor.jpg) no-repeat center;
}

/*  IMAGENES BELLEZA  */
.bprimer {
	background: url(../images/medium/peluqueria.jpg) no-repeat center;
}

.bsegun {
	background: url(../images/medium/fantasia.jpg) no-repeat center;
}

.buno {
	background: url(../images/small/maquillaje.jpg) no-repeat center;
}

.bdos {
	background: url(../images/small/trans.jpg) no-repeat center;
}

.btres {
	background: url(../images/small/ojos.jpg) no-repeat center;
}



/*  IMAGENES GOURMET  */
.gprimer {
	background: url(../images/medium/montados.jpg) no-repeat center;
}

.gsegun {
	background: url(../images/medium/caldo.jpg) no-repeat center;
}

.guno {
	background: url(../images/small/tomate.jpg) no-repeat center;
}

.gdos {
	background: url(../images/small/carne.jpg) no-repeat center;
}

.gtres {
	background: url(../images/small/montadoverduras.jpg) no-repeat center;
}

/*  FIN IMAGENES  */


/*===== ENLACES ====*/
.manu,
.manue,
.belle,
.bellee,
.gour,
.goure {
	text-decoration: none;
	text-align: center;
	margin-bottom: 1em;
	display: block;
}

.manue,
.bellee,
.goure {
	width: 25%;
	background: rgb(0, 0, 0);
	background: #000;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	float: right;
}

/*  ENLACES MANUALIDADES   */

.manu,
.manue,
.manur {
	color: rgb(255, 255, 0);
	color: #FF0;
}

.belle,
.bellee,
.beller {
	color: rgb(0, 255, 255);
	color: #0FF;
}

.gour,
.goure,
.gourr {
	color: rgb(255, 0, 255);
	color: #F0F;
}

/*   CONTENIDO -> ASIDE  */
aside {
	width: 30%;
	float: right;
	padding: 3em 3em .8em 0;
	box-sizing: border-box;
}

.recomendados,
.artirec {
	width: 100%;
}

h1.aside {
	font-size: 1.7em;
	background: rgb(255, 204, 153);
	background: #FC9;
	padding: 0.3em;
	text-align: center;
	overflow: hidden;
}

h2 {
	font-size: 1.5em;
}

.artirec {
	width: 90%;
	margin: 1em 0;
	padding-left: 1.5em;
	border-bottom: 0.1em solid #ccc;
}

/* ====== RESPONSIVE ======= */

@media only screen and (max-width:1200px) {
	h1.aside {
		font-size: 1em;
	}
	.artip{
		width: 80%;
	}
}

@media only screen and (max-width:800px) {
	.artip, .contenido{
		width: 100%;
	}
	aside, section.publicidad{
		display: none;
	}
}