*{
    margin: 0;
    padding: 0;
    font-family: Manrope, sans-serif;
}

.navegacionSup{
    background-color: rgba(68, 68, 68, 0.5);
    clear: both;
    position: fixed;
    top: 0;
    width: 100%; 
    height: 130px;
    z-index: 100;
}

.navegacionSup #logo{
    float: left;
}

.navegacionSup #logo a img{
    max-width: 150px;
    margin: 20px 50px 15px;
}

.home .fa-solid, .newgen .fa-solid, .netflix .fa-solid, .story .fa-solid, .open .fa-solid, .pro .fa-solid, .news .fa-solid, .media .fa-solid, .back .fa-solid, .com .fa-solid,
.home:hover .fa-regular, .newgen:hover .fa-regular, .netflix:hover .fa-regular, .story:hover .fa-regular, .open:hover .fa-regular, .pro:hover .fa-regular, .news:hover .fa-regular, .media:hover .fa-regular, .back:hover .fa-regular, .com:hover .fa-regular{
    display: none;
    margin-right: 5px;
}

.home .fa-regular, .newgen .fa-regular, .netflix .fa-regular, .story .fa-regular, .open .fa-regular, .pro .fa-regular, .news .fa-regular, .media .fa-regular, .back .fa-regular, .com .fa-regular,
.home:hover .fa-solid, .newgen:hover .fa-solid, .netflix:hover .fa-solid, .story:hover .fa-solid, .open:hover .fa-solid, .pro:hover .fa-solid, .news:hover .fa-solid, .media:hover .fa-solid, .back:hover .fa-solid, .com:hover .fa-solid{
    display: inline;
    margin-right: 5px;
} 

.navegacionLat {
    width: 80%;
    margin: 40px auto;
}

.navegacionLat ul{
    /* float: left; */
    margin: auto;
    padding: 12px 0;
    text-align: center;
}

.navegacionLat ul li{
    display: inline-block;
}

.navegacionLat ul li:last-child{
    border-right: none;
}

.navegacionLat ul li a{
    font-family: Manrope, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin: auto;
    padding: 12px 12px;
}

.navegacionLat ul li a:hover{
    font-weight: 700;
}


.button {
    display: inline-block;
    padding: 15px 90px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    cursor: pointer;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 15% 100%);
    transition: transform 0.2s ease;
}

.button:hover {
    transform: scale(1.05);
    background-color: rgb(255, 208, 0);
    border: #333 solid 2px;
    color: #333;
}

.buy-now{
    margin-right: 15px;
}

.buy-now, .watch-trailer  {
    background-color: #333;
    color: #ccc;

}

#hom, #gen, #net, #sto, #ope, #pro, #bac, #com{
    clear: both;
    scroll-margin: 180px;
    width:1000px;
    margin: 50px auto;
}

.paralax1{
    height: 600px;
    background-image: url(../img/bg1.jpg);
    background-attachment: fixed;  
    background-size: cover;
    clear: both;
}

.paralax2{
    height: 600px;
    background-image: url(../img/bg-story-81ca63b7..jpg);
    background-attachment: fixed;  
    background-size: cover;
    clear: both;
}

.paralax3{
    height: 600px;
    background-image: url(../img/bg-openworld-7ab028a0..jpg);
    background-attachment: fixed;  
    background-size: cover;
    clear: both;
}

.paralax4{
    height: 600px;
    background-image: url(../img/bg-monsterhunter-4605a7ed..jpg);
    background-attachment: fixed;  
    background-size: cover;
    clear: both;
}

.paralax5{
    height: 600px;
    background-image: url(../img/bg3.jpg);
    background-attachment: fixed;  
    background-size: cover;
    clear: both;
}

.banner {
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    height: 450px;
    background-position-y: -120px;
}

#hom {
    text-align: center;
}

#hom img{
    max-height: 300px;
    margin-bottom: 25px;
}

#hom p{
    font-family: "League Gothic";
    font-size: 40px;
}

.homP{
    margin-bottom: 30px;
}


#gen h2, #net h2, #sto h2, #ope h2, #pro h2{
    font-family: "League Gothic";
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

#gen .genDer{
    float: left;
    width: 40%;
}

#gen .genDer p, #gen .genDer ul, #sto .tor p, #sto .childP p, #net p , #ope p, #pro p{
    font-size: 13px;
    line-height: 25px;
    font-weight: 600;
}

#gen .genDer ul{
    padding: 20px 0 0 25px;
}

#gen .genIzq{
    float: right;
    width: 55%;
    margin-bottom: 35px;
} 

#gen .genIzq img{
    width: 100%;
    height: 450px;
    object-fit: contain;
} 

#net{
    text-align: center;
}


#sto .tor{
    float: left;
    width: 25%;
    height: 700px;
}

#sto .childP, #sto .wildH{
    float: right;
    width: 70%;
}

#sto .childP h3, #sto .wildH h3{
    font-family: "League Gothic";
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #333;
}

#sto .childP p, #sto .wildH p{
    font-size: 13px;
    line-height: 25px;
    font-weight: 600;
}

#sto .childP img, #sto .wildH img { 
    max-width: 30%;
    margin: 10px 0 35px;
}

#ope img{
    width: 100%;
    margin: 25px 0 0;
    object-fit: cover;
}

#pro{
    text-align: center;
    position: relative;
    margin-bottom: 0;
}

#pro img{
    width: 50%;
}

#pro .proText {
    position: absolute;
    left: 25%;
    transform: translate(-20%, -200%);
}

footer{
    background-color: black;
    text-align: center;
}

footer img{
    margin: 35px;
}