html {
    font-size: 10pt;
}

.c3{
    background-color: blue;
    font-size: 2rem;

}
.c2{
    background-color: antiquewhite;
    font-size: 3rem;
}
.c1{
    background-color: blueviolet;
    font-size: 1.5rem;
}
div {
    font-size: 1.5rem;
    margin: auto;
    padding: 15px;
}

strong {
    font-size: 3rem;
}